<div><b>Autorzy Kadu - ludzie aktywnie i stale wspierający projekt:</b><br/>
<br/>
<b>Rafał Malinowski</b><br/>
&nbsp;&nbsp;&nbsp;[vogel (at) kadu (dot) im]<br/>
&nbsp;&nbsp;&nbsp;programista, koordynator<br/>
<br/>
<b>Piotr Galiszewski</b><br/>
&nbsp;&nbsp;&nbsp;[piotr.galiszewski (at) kadu (dot) im]<br/>
&nbsp;&nbsp;&nbsp;programista, koordynator<br/>
<br/>
<b>Tomasz Rostański</b><br/>
&nbsp;&nbsp;&nbsp;[rozteck (at) interia (dot) pl]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Wojciech Treter</b><br/>
&nbsp;&nbsp;&nbsp;[juzefwt (at) gmail (dot) com]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Bartosz Brachaczek</b><br/>
&nbsp;&nbsp;&nbsp;[b.brachaczek (at) gmail (dot) com]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Ludzie, którzy nie wspierają już aktywnie projektu:</b><br/>
<br/>
<b>Tomasz Jarzynka</b><br/>
&nbsp;&nbsp;&nbsp;[tomee (at) cpi (dot) pl]<br/>
&nbsp;&nbsp;&nbsp;twórca projektu, programista, grafik<br/>
<br/>
<b>Tomasz Chiliński</b><br/>
&nbsp;&nbsp;&nbsp;[chilek (at) chilan (dot) com]<br/>
&nbsp;&nbsp;&nbsp;opiekun serwera kadu.net, programista, koordynator<br/>
<br/>
<b>Adrian Smarzewski</b><br/>
&nbsp;&nbsp;&nbsp;[adrian (at) kadu (dot) net]<br/>
&nbsp;&nbsp;&nbsp;programista, koordynator<br/>
<br/>
<b>Dawid Stawiarski</b><br/>
&nbsp;&nbsp;&nbsp;[neeo (at) kadu (dot) net]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Michał Podsiadlik</b><br/>
&nbsp;&nbsp;&nbsp;[michal (at) kadu (dot) net]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Marcin Ślusarz</b><br/>
&nbsp;&nbsp;&nbsp;[joi (at) kadu (dot) net]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Dariusz Jagodzik</b><br/>
&nbsp;&nbsp;&nbsp;[mast3r (at) kadu (dot) net]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Paweł Płuciennik</b><br/>
&nbsp;&nbsp;&nbsp;[pawel_p (at) kadu (dot) net]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Roman Krzystyniak</b><br/>
&nbsp;&nbsp;&nbsp;[Ron_K (at) tlen (dot) pl]<br/>
&nbsp;&nbsp;&nbsp;dokumentacja projektu, opiekun tłumaczeń<br/>
<br/>
<b>Bartłomiej Zimoń</b><br/>
&nbsp;&nbsp;&nbsp;[uzi18 (at) go2 (dot) pl]<br/>
&nbsp;&nbsp;&nbsp;programista<br/>
<br/>
<b>Lokalizacje Kadu:</b><br/>
<br/>
<b>Adrian Smarzewski, Roman Krzystyniak</b><br/>
&nbsp;&nbsp;&nbsp;wersja polska<br/>
<br/>
<b>Robert Kolatzek, Piotr Simon</b><br/>
&nbsp;&nbsp;&nbsp;wersja niemiecka<br/>
<br/>
<b>Piotr Jedrysik, Tomasz Rostański</b><br/>
&nbsp;&nbsp;&nbsp;wersja włoska<br/>
<br/>
<b>Mirosław Severac Jerzewski</b><br/>
&nbsp;&nbsp;&nbsp;wersja francuska<br/>
</div>